* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #cc0066;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#alwaysVisible {
    width: 800px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 11px #000000;
    overflow: hidden;
}

#dataArea {
    height: 80%;
    display: flex;
    justify-content: center;
}

h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px 0;
}

.dataCol {
    width: 25%;
    height: 100%;
    border: 1px solid red;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataCol input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #cc0066;
    padding: 0 5px;
}

h4 {
    color: #cc0066;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

#buttonArea {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

#buttonArea button {
    width: 80px;
    height: 30px;
    color: #cc0066;
    font-weight: bold;
    font-size: 17px;
    margin: 0 20px;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
}

#buttonArea button:hover {
    background-color: grey;
    border: 1px solid #cc0066;
    cursor: pointer;
    color: lightgrey;
}
