* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #cc0066;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.infoSpace {
    width: 800px;
    height: 200px;
    background-color: #ffffff;
    overflow: hidden;
}

.infoTop {
    border-radius: 10px;
    box-shadow: 0 0 11px #000000;
}

#dataArea {
    height: 70%;
    display: flex;
    justify-content: center;
}

h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px 0;
}

.dataCol {
    width: 25%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataCol input,
.dataCol select {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #cc0066;
    padding: 0 5px;
}

h4 {
    color: #cc0066;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}

#buttonArea {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonArea button {
    width: 80px;
    height: 30px;
    color: #cc0066;
    font-weight: bold;
    font-size: 17px;
    margin: 0 20px;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
}

#buttonArea button:hover {
    background-color: grey;
    border: 1px solid #cc0066;
    cursor: pointer;
    color: lightgrey;
}

.infoBottom {
    padding: 10px 20px;
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h5 {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 5px;
}

#passengerData {
    height: 80%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
}

.passCol {
    width: 20%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.passName {
    width: 25%;
    background-color: grey;
}

.datoInserito {
    font-size: 16px;
    font-weight: 300;
}
